/*  인라인 css: 각 태그의 style 속성 통해서 작성 
    내부 css: html 파일의 head 태그에 style 태그 넣어서 작성
    외부 css: css파일 별도 작성 & html 파일에 포함 */

/* 선택자{
    속성명1: 속성값1
    속성명2: 속성값2
} */
/* css 박스 모델
    1. 크기단위: px, %, em(배수단위)
        크기 속성: width, height, max-width, max-heigth, min-width, min-height
    2. 패딩padding/마진margin/테두리border
        패딩: 요소의 테두리와 내용(content)간의 공백을 표현
        마진: 요소의 테두리와 외부간의 공백을 표현
        보더: 테두리
        아웃라인: 테두리 바깥으로 한번 더 긋는 선
*/

body{
    background-color: blanchedalmond;
}
/* p{
    color: cornflowerblue;
    font-size: large;
    border: 10px solid rebeccapurple;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 50px;
    background-color: brown;
    outline-style: dotted;
    outline-color: deeppink;
} */

/* display 속성: block(위에서 아래로 나열), inline(가로로 나열) 
li{
    display: inline; 
}
li{
    display:  block; 
}



*/
/* tag id class 선택자
    tag{} #id{} .class{} 
*/

#blue{
    color: dodgerblue;
}

/* 태그명.클래스명{속성명: 속성값;}   태그명 생략시 같은 클래스 모두 적용
    class 속성 값은 비슷한 스타일이 적용되면 좋은 태그끼리 묶는게 좋다
*/

p.comment{
    outline-style: solid;
    outline-color: darkmagenta;
}

/* 전체 선택자(*) */
*{
    font-size: 30px;
}

/* 자손 선택자: 태그명1 태그명2{속성명:속성값;} */

div p{
    color: fuchsia;
}

/* 자식 선택자: 태그명1 > 태그명2{속성명:속성값;} 
바로 밑 선택자만 됨 중간이 뭐 끼면 안됨*/

div>p{
    color: green;
}
/* 속성 선택자: 스타일 적용되는 html태그 중에서, 지정된 속성이 있는 경우 스타일 지정 */
/* [속성]{속성명:속성값} */


