
    body{
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000")
    }
    form,h1{
        text-align: center;
    }
    form{
        background-color:  antiquewhite;
        font-size: large;
    }
    h1{
        background-color: cornflowerblue; padding: 2%;color: antiquewhite;
    }
    h2{
        font-weight: bolder;color: cornflowerblue;
    }
    #cat{
        font-weight: bolder;color: brown;
    }